.right_side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #1966ff;
}

.right_side_title {
  color: #fff;
  font-size: 30px;
  padding: 15px 0;
}

.form_control {
  margin: 10px;
}

.user_input {
  min-width: 350px;
  background: #1966ff;
  border: solid 1px #fff;
  border-radius: 10px;
  padding: 10px;
  color: #fff;
}

.user_input::placeholder {
  color: #fff;
}

.user_input:focus-visible {
  outline: none;
}

input[type="file"]::file-selector-button {
  border: 1px solid #fff;
  padding: 0.4em 0.4em;
  border-radius: 0.2em;
  background-color: #a29bfe;
  color: #fff;
  transition: 1s;
}

input[type="file"]::file-selector-button:hover {
  background-color: #81ecec;
  border: 2px solid #00cec9;
}

.forgot_password {
  margin: auto;
}

.forgot_password a {
  margin: auto;
  text-decoration: none;
  font-size: 12px;
  color: #fff;
}

.errorMessage {
  margin: 0 10px;
  font-size: 12px;
  text-align: start;
  color: #ff0000;
}

.connexion_btn {
  background: #fff;
  margin: 20px 10px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  color: #1966ff;
  transition: all 400ms ease-in-out;
}

.connexion_btn:hover {
  cursor: pointer;
  opacity: 0.7;
}
